// Navigation code here

.headerBox {

    width: 100%;
 
     .nav {
       color: grey;
       display: flex;
       justify-content: space-between;
       align-items: center;
       width: 100%;
     }
 
     a {
       width: 50%;
   }
 }

